@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #3b0944;
  --secondary-color: #f3f3f3;
}

html {
  transition: all 0.5s ease-in-out;
}

html.dark {
  --primary-color: #f3f3f3;
  --secondary-color: #3b0944;
}

html.dark {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.toggle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 7px 15px;
  font-family: inherit;
  border-radius: 3px;
  border: none;
  position: absolute;
  top: 100px;
  cursor: pointer;
  transition: all 0.5s ease-in;
  font-size: 13px;
}

button:focus {
  scale: 1.03;
  outline: none;
}

.clock-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.clock {
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 2px;
  transform-origin: bottom center;
  transition: all 0.1s ease-in;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}
.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 90px;
}
.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  background-color: red;
}

.center-point {
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-point::after {
  content: "";
  background-color: var(--primary-color);
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time {
  font-size: 40px;
  color: var(--primary-color);
}

.date {
  font-size: 20px;
  color: var(--primary-color);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.date .day {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  transition: all 0.5s ease-in;
}

@media only screen and (max-width: 675px) {
  button.toggle {
    position: absolute;
    top: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .date {
    font-size: 15px;
  }
}
